<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.ui.listeners.TestListener"/>
    </listeners>
    <test name="LoginPageTest">
        <parameter name="browserName" value="${browserName}"/>
        <parameter name="headless" value="${headless}"/>
        <parameter name="executionMode" value="${executionMode}"/>
        <classes>
            <class name="com.ui.test.LoginPageTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.ui.listeners.TestListener"/>
    </listeners>
    <test name="LoginPageTest1">
        <parameter name="browserName" value="${browserName}"/>
        <parameter name="headless" value="${headless}"/>
        <parameter name="executionMode" value="${executionMode}"/>
        <classes>
            <class name="com.ui.test.LoginPageTest"/>
        </classes>
    </test>
</suite>